.preview-list-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

    .card {
        display: grid;
        grid-template-rows: auto 1fr auto;
        padding: 1rem;
        border-radius: 5px;
        margin: 0.5rem;
        background-color: #0a2544;
        text-align: center;

        h4 {
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
            // text-decoration: underline;
            // color: #5be79f;
            color: #0a2544;
            // border: solid wheat;
            // box-shadow: inset 0 0 0 2px #616467;
            // background-color: rgb(160, 116, 35);
            background-color: rgb(255 220 157);
            border-radius: 10px;
            text-wrap: balance;
        }

        p {
            text-align: center;
            font-size: 1.125rem;
            padding: 10px;
            text-wrap:pretty;
        }

        h4,
        p,
        img {
            margin-block-end: 0.8rem;
        }

        img {
            border-radius: 5px;
            max-width: 100%;
        }

        .button-row {
            display: flex;
            justify-content: space-between;
            grid-gap: 0.625rem;
            overflow: hidden;

            button,
            a {
                padding: 0.1rem;
                background-color: #f5a329;
            }
        }
    }
}