.recipes-container {
    padding: 1rem;

    .card-header-container {

        text-align: center;
        height: 5rem;
        margin-block-end: 1rem;

        h3 {
            font-family: sans-serif;
            font-size: 1.4rem;
            margin-block-end: 1rem;

        }

        .add-recipe-btn {
            // line-height: 2;
            background-color: rgb(228, 139, 6);
            border-radius: 0.375rem;
            padding: 0.625rem;
            font-size: 1.125rem;
        }
    }
}