.edit-container {
    display: grid;
    justify-content: center;
    direction: rtl;

    button,
    a {
        width: auto;
        margin: 0.25rem;
    }

    .group {
        display: flex;
        flex-direction: column;

        .add-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                font-size: 1.25rem;
                width: 3.2rem;
                margin-block-start: 1.5rem;
            }
        }
    }

    .button-row {
        text-align: center;
        display: flex;
        justify-content: space-evenly;

        button,
        a {
            width: 5rem;
            margin: 1rem;
        }
    }

    .btn.add-input {
        width: 3rem;
        font-size: 1.5rem;
    }

    .btn.remove-input {
        width: 2rem;
    }

    h2 {
        text-align: center;
    }

    input,
    textarea {
        border-radius: 10px;
        padding: 0.75rem;
        font-size: 1rem;
        font-family: sans-serif;
    }

    .ingridient-input {
        width: 55rem;
    }

    .step-input {
        width: 55rem;
    }

    li {
        direction: rtl;
    }
}