.edit-container {
    display: grid;
    justify-content: center;
    direction: rtl;
    padding: 2.5%;
    margin: 1rem;
    background-color: #0a2544;

    button,
    a {
        width: auto;
        margin: 0.25rem;
    }

    .group {
        display: flex;
        flex-direction: column;

        .add-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                font-size: 1.25rem;
                width: 2.5rem;
                background-color: rgb(228, 139, 6);
            }
        }
    }

    .button-row {
        text-align: center;
        display: flex;
        justify-content: space-evenly;

        button,
        a {
            width: 4rem;
            margin: 4rem;
        }
    }

    .add-input {
        width: 3rem;
        font-size: 1.5rem;
    }

    .remove-btn {
        margin: 0;
        border: solid 2px;
        border-radius: 10px;
        padding: 0.75rem;
        font-size: 1rem;
        margin-block-end: 0.5rem;
    }

    h2 {
        text-align: center;
    }

    input,
    textarea {
        border-radius: 10px;
        padding: 0.75rem;
        font-size: 1rem;
        font-family: sans-serif;
        width: 100%;
        margin-block-end: 0.5rem;
    }

    .multiselect {
        margin-block-end: 0.5rem;
    }

    li {
        direction: rtl;
        display: flex;
    }
}