input, textarea {
    border-radius: 10px;
    padding: 0.75rem;
    font-size: 1rem;
    font-family: sans-serif;
}

.button-row {
    text-align: center;
    display: flex;
    justify-content: space-evenly;

    button {
        text-align: center;
        width: 5rem;
    }
}