.edit-container {
    display: grid;
    justify-content: center;

    h2 {
        text-align: center;
    }

    input, textarea {
        border-radius: 10px;
        padding: 0.75rem;
        font-size: 1rem;
        font-family: sans-serif;
    }

    .button-row {
        text-align: center;
        display: flex;
        justify-content: space-evenly;

        button {
            width: 5rem;
        }
    }
}

